#header{
  background-color: #E44D26;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 40px;
  margin: 5px;
  text-shadow: 8px 8px 4px #585800;
}

#nav{
  background-color: #006FBA;
  color: white;
  height: 500px;
  width: 200px;
  float: left;
  padding: 5px;
  font-size: 22px;
  text-decoration: none;
  margin: 5px;
  /*
  text-shadow: 8px 8px 4px red;
  */
}

#section{
  width: 750px;
  float: left;
  padding: 10px;
  color: black;
  text-align: justify;
  font-size: 20px;
  padding: 0px 150px 0px 150px;
}

#footer{
  background-color: black;
  color: white;
  clear: both;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

body{
  background-color: #BDBDBD;
}

img{
  display: block;
  margin: auto;
  clear: right;
}

a{
  text-decoration: none;
  color: white;
}
/* Insertar comentario */